---
layout: default
---
	<!-- Event

	* Event title & date, time, and location
	================================================== -->
	<div id="section-event">
		<div class="container">
			<div class="sixteen columns">
				<h1><a href="/" title="Home">House Party @ GROW</a></h1>
			</div><!-- // .sixteen -->

			<div class="clear"></div>
		</div><!-- // .container -->

		<div id="section-info">
			<div class="container">
				<div class="four columns">
					<h2>Event Details</h2>
				</div><!-- // .four -->

				<div class="four columns">
					<div id="box-date">
						<h3>Date</h3>
						<p>August 14th, 2013</p>
					</div><!-- // #box-date -->
				</div><!-- // .four -->

				<div class="four columns">
					<div id="box-time">
						<h3>Time</h3>
						<p>6:00 pm ~ 10:00 pm</p>
					</div><!-- // #box-time -->
				</div><!-- // .four -->

				<div class="four columns">
					<div id="box-location">
						<h3>Location</h3>
						<p>Gastown <br />in Vancouver, Canada</p>
					</div><!-- // #box-location -->
				</div><!-- // .four -->
				
				<div class="clear"></div>
			</div><!-- // .container -->
		</div><!-- // #section-info -->
	</div><!-- // #section-event -->

	{% include about.html %}
	{% include news.html %}
	{% include map.html %}
	{% include registration.html %}




	