<!-- Event Information - About
	================================================== -->
	<div id="section-about">
		<div class="container">
			<div class="four columns">
				<p class="desc">House Party is the opening receiption for the annual startup technology conference, <a href="http://growconf.com">Grow</a>.</p>

				<img src="images/loop.png" alt="" />

				<ul>
					<li><a href="http://growhouseparty2013.eventbrite.ca">Register</a></li>
					<li><a href="http://www.eventbrite.ca/contact-organizer?eid=5649981246">Contact Us</a></li>
				</ul>

			</div><!-- // .four -->

			<div class="ten columns">
				<p>The folks from Launch Party have teamed with Vancouver Pixel Crafters & Dealmaker Media to once again host the official kickoff party for Grow Conf 2013. But this year, we are taking things to a whole new level. Channeling the international hospitality houses of the Vancouver 2010 Olympics and the branded parties of SXSW, House Party@GROW is a first-of-its kind multi-venue event designed to showcase the best technology hubs.</p>
				<p>On August 14, we are taking over the hottest bars and restaurants in the historic Gastown area, home to Vancouver’s tech scene and inviting regions from across Canada and the Pacific NW to hose their very own “House Party” to show off the very best their technology community has to offer. All houses will be within walking distance so attendees can easily move from house-to-house. Who doesn’t love a good house party?</p>
			</div><!-- // .ten -->

			<div class="clear"></div>
		</div><!-- // .container -->
	</div><!-- // #section-about -->