<!-- Schedule
	================================================== -->
	<div id="section-faq">
		<div class="container">
			<div class="sixteen columns">
				<h2>FAQs</h2>
				<p class="desc">Frequently Asked Questions</p>
			</div><!-- // .sixteen -->

			<div class="clear"></div>

			<div class="eight columns">
				<h3>Event Information</h3>

				<h4>Where does all the registration fees go?</h4>
				<p>Nullam volutpat porttitor commodo. Nunc semper lobortis vestibulum. Nulla molestie sapien eget sapien imperdiet ornare. Aenean et libero tincidunt dolor vestibulum sodales id in nunc. Proin accumsan auctor magna vitae auctor. Donec blandit lacinia congue. Phasellus vitae quam ultrices neque consequat iaculis. Phasellus venenatis nunc accumsan sapien aliquam ac semper felis mattis. Fusce et enim sapien. Maecenas vitae vehicula leo.</p>

				<h4>Can I register on-site?</h4>
				<p>Nullam volutpat porttitor commodo. Nunc semper lobortis vestibulum. Nulla molestie sapien eget sapien imperdiet ornare. Aenean et libero tincidunt dolor vestibulum sodales id in nunc. Proin accumsan auctor magna vitae auctor. Donec blandit lacinia congue. Phasellus vitae quam ultrices neque consequat iaculis. Phasellus venenatis nunc accumsan sapien aliquam ac semper felis mattis. Fusce et enim sapien. Maecenas vitae vehicula leo.</p>

				<h4>Where can groups register?</h4>
				<p>Nullam volutpat porttitor commodo. Nunc semper lobortis vestibulum. Nulla molestie sapien eget sapien imperdiet ornare. Aenean et libero tincidunt dolor vestibulum sodales id in nunc. Proin accumsan auctor magna vitae auctor. Donec blandit lacinia congue. Phasellus vitae quam ultrices neque consequat iaculis. Phasellus venenatis nunc accumsan sapien aliquam ac semper felis mattis. Fusce et enim sapien. Maecenas vitae vehicula leo.</p>

			</div><!-- // .eight -->

			<div class="eight columns">
				<h3>Running</h3>

				<h4>When Should I Run Through Pain?</h4>
				<p>Curabitur vehicula sapien sed enim feugiat scelerisque. Sed posuere, felis vel accumsan tincidunt, lorem sapien consectetur urna, sollicitudin blandit justo lectus ac lectus. Pellentesque fringilla tempus nulla, nec auctor sapien congue in. Integer vitae est velit, ac commodo tellus.</p>



				<h4>Should I Eat Before a Run?</h4>
				<p>Curabitur vehicula sapien sed enim feugiat scelerisque. Sed posuere, felis vel accumsan tincidunt, lorem sapien consectetur urna, sollicitudin blandit justo lectus ac lectus. Pellentesque fringilla tempus nulla, nec auctor sapien congue in. Integer vitae est velit, ac commodo tellus.</p>



				<h4>Should I Carry My Own Fluids or Use Water Stops During a Race?</h4>
				<p>Curabitur vehicula sapien sed enim feugiat scelerisque. Sed posuere, felis vel accumsan tincidunt, lorem sapien consectetur urna, sollicitudin blandit justo lectus ac lectus. Pellentesque fringilla tempus nulla, nec auctor sapien congue in. Integer vitae est velit, ac commodo tellus.</p>



				<h4>Can I Listen to Music During Runs?</h4>
				<p>Curabitur vehicula sapien sed enim feugiat scelerisque. Sed posuere, felis vel accumsan tincidunt, lorem sapien consectetur urna, sollicitudin blandit justo lectus ac lectus. Pellentesque fringilla tempus nulla, nec auctor sapien congue in. Integer vitae est velit, ac commodo tellus.</p>

			</div><!-- // .eight -->
		</div><!-- // .container -->
	</div><!-- // #section-programs -->