	<!-- News
	================================================== -->
	<div id="section-news">
		<div class="container">
			<div class="sixteen columns">
				<h2>Sponsors</h2>
			</div><!-- // .sixteen -->

			<div class="clear"></div>

			<div class="eight columns">
				<p class="headline">Main Sponsors</p>

				<ul>
                  <li>We're looking for sponsors to support the overall event as well as to participate in the houses. For more info, check the <a href="/sponsors/#benefits">sponsors page</a>.</li>
				</ul>
				<p class="headline">Organizers & Media Sponsors</p>
				<ul>
					<li><a href="http://www.pixelcrafters.ca">Pixel Crafters</a></li>
					<li><a href="http://strutta.com">Strutta</a></li>
					<li><a href="http://athinkingape.com">A Thinking Ape</a></li>
					<li><a href="http://fullstack.ca">Full Stack</a></li>
					<li><a href="http://techvibes.com">Techvibes</a></li>
				</ul>
			</div><!-- // .eight -->

			<div class="eight columns">
				<p class="headline">Houses</p>
              <p>This is our preliminary list of houses that will be participating. Interested in running a house? Check the <a href="/sponsors/#house">details of hosting a house</a>.</p>
				<ul>
					<li>Toronto House</li>
					<li>Seattle House</li>
					<li>Portland House</li>
					<li>Island House</li>
					<li>Vancouver House</li>
                  <li>Kelowna House</li>
				</ul>


			</div><!-- // .eight -->

			<div class="clear"></div>
		</div><!-- // .container -->
	</div><!-- // #section-news -->
