	<!-- News
	================================================== -->
	<div id="section-news">
		<div class="container">
			<div class="sixteen columns">
				<h2>Sponsors</h2>
			</div><!-- // .sixteen -->

			<div class="clear"></div>

			<div class="eight columns">
				<p class="headline">Main Sponsors</p>

				<ul>
					<li><h3><a href="http://www.vancouvereconomic.com/">Vancouver Economic Commission</a></h3> (House Passport)</li>
					<li><img src="/images/twilio.png" style="float: right;" /><h3><a href="http://twilio.com">Twilio</a></h3> (SMS Voting)</li>
					<li><img src="/images/athinkingape.png" style="float: right; margin-top: 20px;" /><h3><a href="http://athinkingape.com">A Thinking Ape</a></h3> (T-shirts)</li>
					<li><img src="/images/fullstack.png" style="float: right;" /><h3><a href="http://fullstack.ca">Full Stack</a></h3> (Wristbands)</li>
				</ul>

				<p class="headline">Organizers & Media Sponsors</p>
				<ul>
					<li><a href="http://www.pixelcrafters.ca">Pixel Crafters</a></li>
					<li><a href="http://strutta.com">Strutta</a></li>
					<li><a href="http://techvibes.com">Techvibes</a></li>
				</ul>
			</div><!-- // .eight -->

			<div class="eight columns">
				<p class="headline">Houses</p>
              
				<ul>
					<li><h3>Ontario House</h3> <p>Hosted by: <a href="http://startupnorth.ca/2013/06/27/ontario-place-at-grow-conf/">StartupNorth / Communitech</a></p></li>
					<li><h3>Island House</h3> <p>Hosted by: <a href="http://innovationisland.ca/">Innovation Island</a></p></li>
					<li><h3>Vancouver House</h3> <p>Hosted by: <a href="http://launchacademy.ca">Launch Academy</a></p></li>
					<li><h3>Atlantic House</h3> <p>Hosted by: <a href="http://startupnorth.ca/2013/07/31/atlantic-house-grow-next-week-in-vancouver/">StartupNorth / Volta</a> </p></li>
					<li><h3><a href="https://www.picatic.com/unpong">Unbounce Open House (4 - 6pm Ping Pong)</a></h3><p>Hosted by: <a href="http://unbounce.com">Unbounce</a></li>
				</ul>

			</div><!-- // .eight -->

			<div class="clear"></div>
		</div><!-- // .container -->
	</div><!-- // #section-news -->
