	<!-- Registration
	================================================== -->
	<div id="section-register">
		<div class="container">
			<div class="eleven columns">
				<h2>Register</h2>
              <p class="desc"><a href="growhouseparty2013.eventbrite.ca">Buy your ticket</a> to join in the House Party. Grow Conference <a href="http://growconf.eventbrite.com/">attendees</a> participate free. Interested in sponsoring or like more information? Check the <a href="/sponsors/">sponsors page</a> or <a href="http://form.jotform.co/form/31645992083865">get in touch</a>.</p>

				<div style="width:100%; text-align:left;" ><iframe  src="https://www.eventbrite.com/tickets-external?eid=5649981246&ref=etckt&v=2" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Event Registration Online</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://growhouseparty2013.eventbrite.com?ref=etckt">House Party @ GrowConf 2013</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>	
			</div><!-- // .twelve -->

			<div class="five columns">
				<!--
				<div id="box-contact">
					<h3>Address and Phone</h3>
					<p class="address">
						<strong class="font-color-white underline-color-primary">John Doe</strong><br />
						Event Camp, Inc.<br />
						110 E John Ave STE305<br />
						Normandy IL 61820 US<br />
						<span class="font-white">(123) 456-7890</span>
					</p>

					<h3>Email</h3>
					<a href="#" class="link-email" title="Email">register@eventcamp.com</a>
				
				</div>--><!-- // .box-contact -->
				<!--
				<a href="#" class="link-pdf"><span>Download</span><br /><span>Brochure</span></a>
				-->
			</div>
			<!-- // .four -->

			 <div class="clear"></div>
		</div><!-- // .container -->
	</div><!-- // #section-register -->
